
bsc/.ipynb_checkpoints/testing_notebook-checkpoint.ipynb
bsc/constrained/.ipynb_checkpoints/advanced testing-checkpoint.ipynb
bsc/constrained/.ipynb_checkpoints/testing KO by modifying boundaries-checkpoint.ipynb
bsc/unconstrained/.ipynb_checkpoints/deletions-checkpoint.ipynb
bsc/unconstrained/.ipynb_checkpoints/fba-checkpoint.ipynb
bsc/unconstrained/.ipynb_checkpoints/fva-checkpoint.ipynb
bsc/unconstrained/.ipynb_checkpoints/geometric-checkpoint.ipynb
src/__pycache__/riia.cpython-38.pyc
